In [7]:
# Import dependencies
import pandas as pd

# Read in raw data
airline_df = pd.read_csv("../data/unclean_airline_delay.csv")

# Inspect raw file
airline_df.info()

# Clean up NaN values
airline_clean = airline_df.dropna()

# Check work
airline_clean.info()

#Reset index after cleaning
airline_clean = airline_clean.reset_index(drop=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3351 entries, 0 to 3350
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 3351 non-null   int64
 1   month                3351 non-null   int64
 2   carrier              3351 non-null   object
 3   carrier_name         3351 non-null   object
 4   airport              3351 non-null   object
 5   airport_name         3351 non-null   object
 6   arr_flights          3343 non-null   float64
 7   arr_del15            3343 non-null   float64
 8   carrier_ct           3343 non-null   float64
 9   weather_ct           3343 non-null   float64
 10  nas_ct               3343 non-null   float64
 11  security_ct          3343 non-null   float64
 12  late_aircraft_ct     3343 non-null   float64
 13  arr_cancelled        3343 non-null   float64
 14  arr_diverted         3343 non-null   float64
 15  arr_delay            3343 non-null   float64
 16  carrier_delay        3343 non-null   float64
 17  weather_delay        3343 non-null   float64
 18  nas_delay            3343 non-null   float64
 19  security_delay       3343 non-null   float64
 20  late_aircraft_delay  3343 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 549.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 3343 entries, 0 to 3350
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 3343 non-null   int64
 1   month                3343 non-null   int64
 2   carrier              3343 non-null   object
 3   carrier_name         3343 non-null   object
 4   airport              3343 non-null   object
 5   airport_name         3343 non-null   object
 6   arr_flights          3343 non-null   float64
 7   arr_del15            3343 non-null   float64
 8   carrier_ct           3343 non-null   float64
 9   weather_ct           3343 non-null   float64
 10  nas_ct               3343 non-null   float64
 11  security_ct          3343 non-null   float64
 12  late_aircraft_ct     3343 non-null   float64
 13  arr_cancelled        3343 non-null   float64
 14  arr_diverted         3343 non-null   float64
 15  arr_delay            3343 non-null   float64
 16  carrier_delay        3343 non-null   float64
 17  weather_delay        3343 non-null   float64
 18  nas_delay            3343 non-null   float64
 19  security_delay       3343 non-null   float64
 20  late_aircraft_delay  3343 non-null   float64
dtypes: float64(15), int64(2), object(4)
memory usage: 574.6+ KB

In [8]:
# Initialize list with the top 25 airport IATA codes
codes_list = ["SLC","ATL","FLL","MIA","MCO","MSP","LAX","LAS","DFW","DEN","CLT","PHL","PHX","BOS","IAH","SAN","SEA","SFO","ORD","BWI",'DTW',"EWR","JFK","LGA","DCA"]
# Create a list of the columns from our airline_clean DataFrame
columns_list = list(airline_clean.columns)
# Initialize an empty DataFrame to store our selected data
top25 = pd.DataFrame({}, columns=columns_list)

# Create a for loop to loop threw the airline_clean DataFrame and only grab the rows that have matching values to any of the top 25 IATA codes
for index, row in airline_clean.iterrows():
    if row['airport'] in codes_list:
        top25.loc[len(top25)] = row

# Reset our index
top25.reset_index(drop=True, inplace=True)
# Uncomment to resave CSV
# top25.to_csv("../data/top25_airport_delays.csv")
# Inspect the work
top25.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2020,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",5985.0,445.0,142.89,11.96,...,1.0,127.79,5.0,0.0,30756.0,16390.0,1509.0,5060.0,16.0,7781.0
1,2020,12,9E,Endeavor Air Inc.,BOS,"Boston, MA: Logan International",21.0,3.0,1.0,0.71,...,0.0,0.0,0.0,0.0,158.0,17.0,81.0,60.0,0.0,0.0
2,2020,12,9E,Endeavor Air Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",96.0,17.0,8.5,0.0,...,0.0,3.4,1.0,0.0,1064.0,558.0,0.0,200.0,0.0,306.0
3,2020,12,9E,Endeavor Air Inc.,CLT,"Charlotte, NC: Charlotte Douglas International",42.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,64.0,64.0,0.0,0.0,0.0,0.0
4,2020,12,9E,Endeavor Air Inc.,DCA,"Washington, DC: Ronald Reagan Washington National",37.0,1.0,0.0,0.0,...,0.0,0.87,1.0,0.0,15.0,0.0,0.0,2.0,0.0,13.0

In [11]:
# Read in the Lat/Long airport table
airCodes_df = pd.read_csv("../data/unclean_airport_table.csv")

# Inspect for NaN values
airCodes_df.info()

# Drop the old index from the old CSV
del airCodes_df['Unnamed: 0']

# Double check our work
airCodes_df.columns

# Uncomment to resave CSV
#airCodes_df.to_csv("../data/top25_airport_codes.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    25 non-null     int64
 1   country_code  25 non-null     object
 2   iata          25 non-null     object
 3   airport       25 non-null     object
 4   latitude      25 non-null     float64
 5   longitude     25 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.3+ KB